<!DOCTYPE html>
<html lang="nl"><div>
<head>
<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    	<script>
    	var app = angular.module('vragenlijst', []);</script>
    	<link rel="stylesheet" href="styleDirk.css">
	<title></title>
</head>
<body>
<h3>Communicatie:</h3>

	<p>
		Dan nog vier vragen over de communicatie:
	</p>
	<p>
		1. Hoe heeft u contact gehad met ons?</br>
		<select name="contact" ng-model="contact" required>
			<option value="" selected>Kies...</option>
			<option value="E-mail" selected>E-mail</option>
			<option value="Telefonisch">Telefonisch</option>
			<option value="Mondeling">Mondeling</option>
			<option value="Anders" ng-model="contact">Anders...</option>
		</select>
		<span class="foutmelding" ng-show="vragenlijst.contact.$touched && vragenlijst.contact.$touched && vragenlijst.contact.$invalid">
		Kies een optie!</span>
		<div ng-switch="contact">
			<div ng-switch-when="Anders">
				<span ng-show="vragenlijst.tekstSoortContact.$invalid && vragenlijst.tekstSoortContact.$touched">Vul dit veld in!</span>
				<textarea cols="25" rows="5" name="tekstSoortContact" placeholder="Hoe heeft u dan contact met ons gehad?" 
				ng-model="tekstSoortContact" required></textarea>
			</div>
		</div>
	</p>
	<p>
		2. Verliep dit naar wens?</br>
		<input type="radio" value="Ja" name="wensCommunicatie" ng-model="wensCommunicatie" required>Ja
		<input type="radio" value="Nee" name="wensCommunicatie" ng-model="wensCommunicatie" >Nee
		
		<span class="foutmelding" ng-show="vragenlijst.wensCommunicatie.$invalid && vragenlijst.wensCommunicatie.$touched ">
			Kies een optie!
		</span>
					
		<div ng-switch="wensCommunicatie">
			<div ng-switch-when="Nee">
					<span class="foutmelding" ng-show="vragenlijst.tekstWensCommunicatie.$invalid && vragenlijst.tekstWensCommunicatie.$touched">
						Vul dit veld in!
					</span>				
				<textarea cols="25" rows="5" name="tekstWensCommunicatie" placeholder="Wat verliep er niet naar wens?"
				ng-model="tekstWensCommunicatie" required></textarea>
				
			</div>	
	</p>
	<p>
		3. Zou u in de toekomst nogmaals iets willen bestellen bij ons?</br>
		<input type="radio" value="Ja" name="bestellenCommunicatie" ng-model="bestellenCommunicatie" required>Ja
		<input type="radio" value="Nee" name="bestellenCommunicatie" ng-model="bestellenCommunicatie">Nee
		
			<span class="foutmelding" ng-show="vragenlijst.bestellenCommunicatie.$invalid && vragenlijst.bestellenCommunicatie.$touched">
			Kies een optie!</span>
					
		<div ng-switch="bestellenCommunicatie">
			<div ng-switch-when="Nee">
				<span class="foutmelding" ng-show="vragenlijst.tekstBestellenCommunicatie.$invalid && vragenlijst.tekstBestellenCommunicatie.$touched">
					Vul dit veld in!
				</span>			
				<textarea cols="25" rows="5" name="tekstBestellenCommunicatie" placeholder="Wat is de reden?" 
				ng-model="tekstBestellenCommunicatie" required></textarea>
			</div>
		</div>
	</p>
	<p>
		4. Heeft u nog suggesties voor ons?</br>
		<input type="radio" value="Ja" name="suggestieCommunicatie" ng-model="suggestieCommunicatie" required>Ja
		<input type="radio" value="Nee" name="suggestieCommunicatie" ng-model="suggestieCommunicatie">Nee
		
			<span class="foutmelding" ng-show="vragenlijst.suggestieCommunicatie.$invalid && vragenlijst.suggestieCommunicatie.$touched">
			Kies een optie!
			</span>
		<div ng-switch="suggestieCommunicatie">
			<div ng-switch-when="Ja">
			<span class="foutmelding" ng-show="vragenlijst.tekstSuggestiesCommunicatie.$invalid && vragenlijst.tekstSuggestiesCommunicatie.$touched">
				Vul dit veld in aub!
			</span>
				<textarea cols="25" rows="5" name="tekstSuggestiesCommunicatie" placeholder="suggesties..." 
				ng-model="tekstSuggestiesCommunicatie" required></textarea>
			</div>
		</div>
	</p>

</body>
</html>