<!DOCTYPE html>
<html lang="nl">
<head>
  		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    	<script>
    	var app = angular.module('vragenlijst', []);</script>
    	<link rel="stylesheet" href="styleDirk.css">
	<title>Cupcakes</title>
</head>
<body>

<div>

	<p>	
		1. Voor hoeveel personen had u besteld?</br>
		aantal mensen:
				<select ng-model="personenCupcakes" name="personenCupcakes" required>
				<option value="">Kies...</option>
				<option value="5 t/m 25">5 t/m 25</option>
				<option value="26 t/m 50">26 t/m 50</option>
				<option value="51 t/m 75">51 t/m 75</option>
				<option value="76 t/m 100">76 t/t 100</option>
				<option value="100 en meer">100 en meer</option>
			</select>
			<span class="foutmelding" ng-show="vragenlijst.personenCupcakes.$pristine && vragenlijst.personenCupcakes.$touched">
				Kies een optie!
			</span>
		</p>
		<p>

			2. Hadden deze cupcakes specifieke decoratie?</br>
			<input type="radio" value="Ja" name="decoratieCupcakes"  ng-model="decoratieCupcakes" required>Ja
			<input type="radio" value="Nee" name="decoratieCupcakes" ng-model="decoratieCupcakes">Nee

				<span class="foutmelding" ng-show="vragenlijst.decoratieCupcakes.$touched && vragenlijst.decoratieCupcakes.$invalid">
					Kies een optie!
				</span>
				
		<div ng-switch="decoratieCupcakes">
			<div ng-switch-when="Ja">
			<span class="foutmelding" ng-show="vragenlijst.tekstDecoratieCupcakes.$invalid && vragenlijst.tekstDecoratieCupcakes.$touched">
				Vul dit veld in!
				</span>
				<textarea name="tekstDecoratieCupcakes" cols="25" rows="5" placeholder="Kunt u deze decoratie omschrijven?" 
				ng-model="tekstDecoratieCupcakes" required></textarea>
			</div>
		</div>
		</p>
		<p>
			
			3. Waren de cupcakes naar wens? </br>
			<input type="radio" value="Ja" name="wensCupcakes" ng-model="wensCupcakes" required>Ja
			<input type="radio" value="Nee" name="wensCupcakes" ng-model="wensCupcakes">Nee

				<span class="foutmelding" ng-show="vragenlijst.wensCupcakes.$invalid && vragenlijst.wensCupcakes.$touched">
					Kies een optie!
				</span>
				
		<div ng-switch="wensCupcakes">
			<div ng-switch-when="Nee">
			
			<span class="foutmelding" ng-show="vragenlijst.tekstWensCupcakes.$touched && vragenlijst.tekstWensCupcakes.$invalid">
				Vul dit veld in!
				</span>
				<textarea name="tekstWensCupcakes" cols="25" rows="5" ng-model="tekstWensCupcakes" placeholder="Wat was er niet naar wens?" 
				required></textarea>
			</div>
		</div>
		</p>
		<p>
		
			4. Hoeveel hebben de cupcakes gekost? </br>
			<select name="prijsCupcakes" ng-model="prijsCupcakes" required>
			<option value="">Kies...</option>
			<option value=" &#8364 10 t/m 25">&#8364 10 t/m 25</option>
			<option value="&#8364 26 t/m 50">&#8364 26 t/m 50</option>
			<option value="&#8364 51 t/m 75">&#8364 51 t/m 75</option>
			<option value="&#8364 76 t/m 100">&#8364 76 t/t 100</option>
			<option value="&#8364 100 en meer">&#8364 100 en meer</option>
		</select>
			<span class="foutmelding" ng-show="vragenlijst.prijsCupcakes.$pristine && vragenlijst.prijsCupcakes.$touched">
				Kies een optie!
			</span>
		</p>
		<p>
			5. Voldeden de cupcakes aan uw verwachtingen? (bv. decoratie of smaak etc.)?</br>
			<span class="foutmelding" ng-show="vragenlijst.smaakCupcakes.$touched && vragenlijst.smaakCupcakes.$invalid">
				Vul dit veld in!
				</span>
			<textarea cols="25" rows="5" name="smaakCupcakes" ng-model="smaakCupcakes" required></textarea>
		</p>
		<p>
			6. Welk cijfer zou u willen geven voor onze prijs/kwaliteit verhouding?<br>	
			<!-- hieronder is de slider om het cijfer te geven voor ons product -->	
			0<input type="range" min="0.0" max="10" ng-model="cijfer" name="cijferCupcakes" value="5">10<br>
			<div style="margin-left: 12%;">{{cijfer}}</div>
			<!-- melding behorende bij ieder cijfer! -->
			<div ng-switch="cijfer">
				<div ng-switch-when="10" class="emoticon">
					<img src="happy.png" alt="happy" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="9" class="emoticon">
					<img src="cool.png" alt="cool" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="8" class="emoticon">
					<img src="smiling.png" alt="smiling" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="7" class="emoticon">
					<img src="smiley.png" alt="smiley" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="6" class="emoticon">
					<img src="wink.png" alt="wink" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="5" class="emoticon">
					<img src="unsure.png" alt="unsure" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="4" class="emoticon">
					<img src="lips.png" alt="lips" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="3" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="2" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="1" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="0" class="emoticon">
					<img src="scream.png" alt="scream" style="width: 40px; height: 40px;">					
				</div>
			</div>
	</p>
</div>
</body>
</html>