<!DOCTYPE html>
<html lang="nl">
<head>
  		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    	<script>
    	var app = angular.module('vragenlijst', []);</script>
    	<link rel="stylesheet" href="styleDirk.css">
	<title></title>
</head>
<body>
<div>
	<p>
		1. Voor hoeveel personen had u besteld?</br>
		aantal mensen:
				<select ng-model="personenGebak" name="personenGebak" required>
				<option value="">Kies...</option>
				<option value="5 t/m 25">5 t/m 25</option>
				<option value="26 t/m 50">26 t/m 50</option>
				<option value="51 t/m 75">51 t/m 75</option>
				<option value="76 t/m 100">76 t/t 100</option>
				<option value="100 en meer">100 en meer</option>
			</select>
			<span class="foutmelding" ng-show="vragenlijst.personenGebak.$pristine && vragenlijst.personenGebak.$touched">
				Kies een optie!
			</span>
	</p>
	<p>
		2. Wat voor soort gebak of dessert had u besteld?</br>
		<span class="foutmelding" ng-show="vragenlijst.gebakBesteld.$invalid && vragenlijst.gebakBesteld.$touched">
				Vul dit veld in!
				</span>
		<textarea cols="25" rows="5" name="gebakBesteld" ng-model="gebakBesteld" required></textarea>
	</p>
	<p>
		3. Was het gebak of dessert naar wens?</br>
		<input type="radio" value="Ja" name="wensGebak" ng-model="wensGebak" required>Ja
		<input type="radio" value="Nee" name="wensGebak" ng-model="wensGebak">Nee
		
		<span class="foutmelding" ng-show="vragenlijst.wensGebak.$invalid && vragenlijst.wensGebak.$touched">
			Kies een optie!</span>
		<div ng-switch="wensGebak">
			<div ng-switch-when="Nee">
				
				<span class="foutmelding" ng-show="vragenlijst.tekstWensGebak.$touched && vragenlijst.tekstWensGebak.$invalid">
				Vul dit veld in!
				</span>
				<textarea cols="25" rows="5" name="tekstWensGebak" placeholder="Wat was er niet naar wens?" ng-model="tekstWensGebak" required></textarea>
			</div>
		</div>
	</p>
	<p>

		4. Hoeveel kostte het gebak of dessert?</br>
		<select name="prijsGebak" ng-model="prijsGebak" required>
			<option value="">Kies...</option>
			<option value=" &#8364 10 t/m 25" selected>&#8364 10 t/m 25</option>
			<option value="&#8364 26 t/m 50">&#8364 26 t/m 50</option>
			<option value="&#8364 51 t/m 75">&#8364 51 t/m 75</option>
			<option value="&#8364 76 t/m 100">&#8364 76 t/t 100</option>
			<option value="&#8364 100 en meer">&#8364 100 en meer</option>
		</select>
		<span class="foutmelding" ng-show="vragenlijst.prijsGebak.$pristine && vragenlijst.prijsGebak.$touched">
			Kies een optie!
		</span>
	</p>
	<p>
	
		5. Voldeed het gebak of dessert aan uw verwachtingen? (bv. decoratie of smaak etc.)</br>
		<span class="foutmelding" ng-show="vragenlijst.smaakGebak.$touched && vragenlijst.smaakGebak.$invalid">
				Vul dit veld in!
				</span>
		<textarea cols="25" rows="5" name="smaakGebak" ng-model="smaakGebak" required></textarea>
		
	</p>
	<p>
		6. Welk cijfer zou u willen geven voor onze prijs/kwaliteit verhouding?<br>	
		0<input type="range" min="0.0" max="10" ng-model="cijfer" name="cijferGebak" value="5">10<br>
		<div style="margin-left: 12%;">{{cijfer}}</div>
		<!-- melding behorende bij ieder cijfer! -->
			<div ng-switch="cijfer">
				<div ng-switch-when="10" class="emoticon">
					<img src="happy.png" alt="happy" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="9" class="emoticon">
					<img src="cool.png" alt="cool" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="8" class="emoticon">
					<img src="smiling.png" alt="smiling" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="7" class="emoticon">
					<img src="smiley.png" alt="smiley" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="6" class="emoticon">
					<img src="wink.png" alt="wink" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="5" class="emoticon">
					<img src="unsure.png" alt="unsure" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="4" class="emoticon">
					<img src="lips.png" alt="lips" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="3" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="2" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="1" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="0" class="emoticon">
					<img src="scream.png" alt="scream" style="width: 40px; height: 40px;">					
				</div>
			</div>
	</p>
</div>