@charset "UTF-8";

body {

	font-family: "Sans-Serif", Verdana;
	background-image: url("taart.jpg");
	background: linear-gradient(#f2e4fe, white, #f2e4fe);
	text-margin: 5px;

}

h1  {
	text-align: center;
	text-shadow: 3px 3px 3px pink;
}

p {
	text-align: left;
}
article {
	text-align: left;
	padding: 5%;
}

textarea {

	font-family: verdana;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 25px;
	align-content: center;
	border-radius: 14px;
	box-shadow: 3px 3px 5px black inset;
	transition-duration: 0.5s;
}

textarea:focus {
	background-color: #f2e4fe;
	box-shadow: 3px 3px 25px black;
	border: 1px solid black;

	transition-duration: 0.5s;
}

input[type=submit], input[type=reset]  {
	border: none;
	border-radius: 5px;
	background-color: #A80C7A;
	box-shadow: 3px 3px 5px black;
	color: white;
	font-family: Georgia, Verdana;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	position: relative;
}


input[type=submit]:hover, input[type=reset]:hover {
	text-shadow: 3px 3px 3px pink;
	background-color: #D90C7A;
	transition-duration: 0.5s;
}

input[type=submit]:active, input[type=reset]:active {
	box-shadow: 3px 3px 25px pink inset;
	}

input[type=radio] {
	padding: 10px;
	margin-left: auto;
	position: relative;
}


img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50%;
	border: 0px solid black;
}

table {
	margin: auto;
	position: relative;
}

td {
	text-margin: 5px;
	text-align: left;
	border-width: 15px;
	padding: 10px;
}

.foutmelding {
	color: red;
	text-size: 16px;
	
}

.emoticon {
	 display: block;
    margin-left: 0%;
    margin-right: auto;
	width: 40px; 
	height: 40px;

}