<!DOCTYPE html>
<html lang="nl">
<head>
  		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    	<script>
    		var app = angular.module('vragenlijst', []);
    	</script>
    	<link rel="stylesheet" href="styleDirk.css">
	<title>Taart vragenlijst</title>
</head>
<body>


	<table>
		<tr><td>
			1. Voor hoeveel personen had u taart besteld?<br>
				personen:
				<select  required ng-model="personenTaart" name="personenTaart">
					<option value="">Kies...</option>
					<option value="5 t/m 25" required>5 t/m 25</option>
					<option value="26 t/m 50">26 t/m 50</option>
					<option value="51 t/m 75">51 t/m 75</option>
					<option value="76 t/m 100">76 t/m 100</option>
					<option value="100 en meer">100 en meer</option>
				</select>
				<span class="foutmelding" ng-show="vragenlijst.personenTaart.$touched && vragenlijst.personenTaart.$invalid"
						|| vragenlijst.personenTaart.$untouched>
				Vul dit veld in!
				</span>
		</td></tr>
		<tr><td>	
			2. Wat voor taart was het?<br> 
				<select name="soortTaart" ng-model="soortTaart" required>
					<option value="">Kies...</option>
					<option value="Kindertaart">Kindertaart</option>
					<option value="Themataart">Themataart</option>
					<option value="Bruidstaart">Bruidstaart</option>
					<option value="Anders" ng-model="soortTaart">Anders...</option>
				</select>
							<!-- foutmelding -->
					<span class="foutmelding" ng-show="vragenlijst.soortTaart.$touched && vragenlijst.soortTaart.$invalid">
					Kies een optie!
					</span>
					
					<!-- Tekstvak dat zichtbaar wordt na selectie van bovenstaande optie "Anders..." -->
					<div ng-switch="soortTaart">
						<div ng-switch-when="Anders">	
							<textarea cols="25" rows="5" name="tekstSoortTaart" ng-model="tekstSoortTaart"
								placeholder="Geef een korte omschrijving." required>
							</textarea>
						</div>
										<!-- foutmelding -->
						<span class="foutmelding" ng-show="vragenlijst.tekstSoortTaart.$touched && vragenlijst.tekstSoortTaart.$invalid">
							Vul dit veld in!
						</span>
					</div>
		</td></tr>
	
		<tr><td>
			3. Hoeveel lagen had deze taart?<br>
				<select name="aantalLagen" ng-model="aantalLagen" required>
					<option value="">Kies...</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
					
			<!-- foutmelding -->
				<span class="foutmelding" ng-show="vragenlijst.aantalLagen.$touched && vragenlijst.aantalLagen.$invalid">
					Kies een optie!
				</span>
		</td></tr>
			
	
	<tr><td>		
		4. Had deze taart speciale door u gekozen decoraties?<br>
		<input type="radio" value="Ja" name="decoratieTaart"  ng-model="decoratieTaart" required>Ja
		<input type="radio" value="Nee" name="decoratieTaart" ng-model="decoratieTaart">Nee
		
				<span class="foutmelding" ng-show="vragenlijst.decoratieTaart.$touched && vragenlijst.decoratieTaart.$invalid">
					Kies een optie!
				</span>
				
		<div ng-switch="decoratieTaart">
			<div ng-switch-when="Ja">
				<span class="foutmelding" ng-show="vragenlijst.tekstDecoratieTaart.$touched && vragenlijst.tekstDecoratieTaart.$invalid">
					Vul dit veld in!
				</span>
					<textarea name="tekstDecoratieTaart" cols="25" rows="5" placeholder="Kunt u deze decoratie omschrijven?" 
						ng-model="tekstDecoratieTaart" required></textarea>
			</div>
		</div>
	</td></tr>
		
	<tr><td>	
			5. Hoeveel kostte deze taart?<br>
			<select name="prijsTaart" ng-model="prijsTaart" required>
				<option value="">Kies...</option>
				<option value=" &#8364 10 t/m 25" selected>&#8364 10 t/m 25</option>
				<option value="&#8364 26 t/m 50">&#8364 26 t/m 50</option>
				<option value="&#8364 51 t/m 75">&#8364 51 t/m 75</option>
				<option value="&#8364 76 t/m 100">&#8364 76 t/t 100</option>
				<option value="&#8364 100 en meer">&#8364 100 en meer</option>
			</select>
			<span class="foutmelding" ng-show="vragenlijst.prijsTaart.$touched && vragenlijst.prijsTaart.$invalid">
					Kies een optie!
				</span>
		
	</td></tr>
			
	<tr><td>
		6. Voldeed deze taart aan uw verwachtingen? (bv. decoratie of smaak etc.)<br>

		<input type="radio" value="Ja" name="verwachtingTaart" ng-model="verwachtingTaart" required>Ja
		<input type="radio" value="Nee" name="verwachtingTaart" ng-model="verwachtingTaart">Nee
			<span class="foutmelding" ng-show="vragenlijst.verwachtingTaart.$touched && vragenlijst.verwachtingTaart.$invalid">
					Kies een optie!
				</span>
		
			
		<div ng-switch="verwachtingTaart">
			<div ng-switch-when="Ja">
					<span class="foutmelding" ng-show="vragenlijst.jaVerwachtingTaart.$touched && vragenlijst.jaVerwachtingTaart.$invalid">
							Vul dit veld in!
						</span>
				<textarea rows="5" cols="25" name="jaVerwachtingTaart" placeholder="Wat beviel u aan de taart?" 
					ng-model="jaVerwachtingTaart" required>
				</textarea>
			</div>
			<div ng-switch-when="Nee">
			<textarea rows="5" cols="25" name="neeVerwachtingTaart" placeholder="Wat was er niet goed?" 
			ng-model="neeVerwachtingTaart" required>
				<span class="foutMelding" ng-show="vragenlijst.neeVerwachtingTaart.$touched && vragenlijst.neeVerwachtingTaart.$invalid">
						Vul dit veld in!
					</span>
			
			</textarea>
			</div>
		</div>
	</td></tr>
		
	<tr><td>
		7. Welk cijfer zou u willen geven voor onze prijs/kwaliteit verhouding?<br>
	<!-- hieronder is de slider om het cijfer te geven voor ons product -->
		0<input type="range" min="0.0" max="10" ng-model="cijferTaart" name="cijferTaart" value="5">10<br>
		<div style="margin-left: 12%;">{{cijferTaart}}</div>
			<!-- melding behorende bij ieder cijfer! -->
	
			<div ng-switch="cijferTaart" class="emoticon">
				<div ng-switch-when="10" >
					<img src="happy.png" alt="happy" class="emoticon">
				</div>
				<div ng-switch-when="9">
					<img src="cool.png" alt="cool" class="emoticon">
				</div>
				<div ng-switch-when="8">
					<img src="smiling.png" alt="smiling" class="emoticon">
				</div>
				<div ng-switch-when="7">
					<img src="smiley.png" alt="smiley" class="emoticon">					
				</div>
				<div ng-switch-when="6">
					<img src="wink.png" alt="wink" class="emoticon">
				</div>
				<div ng-switch-when="5">
					<img src="unsure.png" alt="unsure" class="emoticon">					
				</div>
				<div ng-switch-when="4">
					<img src="lips.png" alt="lips" class="emoticon">					
				</div>
				<div ng-switch-when="3">
					<img src="suprised.png" alt="suprised" class="emoticon">					
				</div>
				<div ng-switch-when="2">
					<img src="suprised.png" alt="suprised" class="emoticon">					
				</div>
				<div ng-switch-when="1">
					<img src="suprised.png" alt="suprised" class="emoticon">					
				</div>
				<div ng-switch-when="0">
					<img src="scream.png" alt="scream" class="emoticon">					
				</div>
			</div>
		
	</td></tr>
</table>

	

