<!DOCTYPE html>
<html lang="nl">
<head>
  		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    	<script>
    	var app = angular.module('vragenlijst', []);</script>
    	<link rel="stylesheet" href="styleDirk.css">
	<title></title>
</head>
<body>
<div>

		<p>
			1. Wat vonden de kinderen ervan?
		</p>
			<span class="foutmelding" ng-show="vragenlijst.kinderen.$touched && vragenlijst.kinderen.$invalid">
					Vul dit veld in!
				</span>
			<textarea cols="25" rows="5" name="kinderen" ng-model="kinderen" required></textarea>
			
		<p>
			2. Was er genoeg decoratie, en hoe was de diversiteit daarvan?
		</p>
			<span class="foutmelding" ng-show="vragenlijst.decoratieWorkshop.$touched && vragenlijst.decoratieWorkshop.$invalid">
						Vul dit veld in!
					</span>
			<textarea cols="25" rows="5" name="decoratieWorkshop" ng-model="decoratieWorkshop" required></textarea>
		
		<p>
			3. Wat vond u goed aan de workshop?
		</p>
			<span class="foutmelding" ng-show="vragenlijst.goedWorkshop.$touched && vragenlijst.goedWorkshop.$invalid">
						Vul dit veld in!
					</span>
			<textarea cols="25" rows="5" name="goedWorkshop"  ng-model="goedWorkshop" required></textarea>

		<p>
			4. Wat vond u minder goed aan de workshop?
		</p>
			<span class="foutmelding" ng-show="vragenlijst.nietGoedWorkshop.$touched && vragenlijst.nietGoedWorkshop.$invalid">
						Vul dit veld in!
					</span>
			<textarea cols="25" rows="5" name="nietGoedWorkshop"  ng-model="nietGoedWorkshop" required></textarea>
		
		<p>
			5. Wat vind u van de prijs/kwaliteit verhouding van de workshop?
		</p>
			<span class="foutmelding" ng-show="vragenlijst.kwaliteitWorkshop.$touched && vragenlijst.kwaliteitWorkshop.$invalid">
						Vul dit veld in!
					</span>
			<textarea cols="25" rows="5" name="kwaliteitWorkshop"  ng-model="kwaliteitWorkshop" required></textarea>
		
		<p>
			6. Heeft u suggesties ter verbetering van de workshop?
			<input type="radio" value="Ja" name="verbeterWorkshop" ng-model="verbeterWorkshop" required>Ja
			<input type="radio" value="Nee" name="verbeterWorkshop" ng-model="verbeterWorkshop" required>Nee
			
				<span class="foutmelding" ng-show="vragenlijst.verbeterWorkshop.$touched && vragenlijst.verbeterWorkshop.$invalid">
					Kies een optie
				!</span>
		</p>
		<div ng-switch="verbeterWorkshop">
			<div ng-switch-when="Ja">
					<span class="foutmelding" ng-show="vragenlijst.verbeterWorkshopJa.$touched && vragenlijst.verbeterWorkshopJa.$invalid">
						Vul dit veld in!
					</span>
				<textarea cols="25" rows="5" name="verbeterWorkshopJa" ng-model="verbeterWorkshopJa"required></textarea>
			</div>
		</div>
		
		</p>
		<p>
			7. Welk cijfer zou u willen geven voor onze prijs/kwaliteit verhouding?<br>
			0<input type="range" min="0.0" max="10" ng-model="cijfer" name="cijferWorkshop" value="5">10<br>
			<div style="margin-left: 12%;">{{cijfer}}</div>
			
			<!-- melding behorende bij ieder cijfer! -->
			<div ng-switch="cijfer" class="emoticon">
				<div ng-switch-when="10">
					<img src="happy.png" alt="happy" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="9" class="emoticon">
					<img src="cool.png" alt="cool" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="8" class="emoticon">
					<img src="smiling.png" alt="smiling" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="7" class="emoticon">
					<img src="smiley.png" alt="smiley" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="6" class="emoticon">
					<img src="wink.png" alt="wink" style="width: 40px; height: 40px;">
				</div>
				<div ng-switch-when="5" class="emoticon">
					<img src="unsure.png" alt="unsure" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="4" class="emoticon">
					<img src="lips.png" alt="lips" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="3" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="2" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="1" class="emoticon">
					<img src="suprised.png" alt="suprised" style="width: 40px; height: 40px;">					
				</div>
				<div ng-switch-when="0" class="emoticon">
					<img src="scream.png" alt="scream" style="width: 40px; height: 40px;">					
				</div>
			</div>
	</p>
</div>